<div class="p-3">
  <h1>Stupid Coaching</h1>
  <div class="border border-3 p-3">
    <h4><%= params[:question] %></h4>
    <p>-<em><%= @answer %></em></p>
  </div>
  <h4 class="pt-3 btn-lg link-light"><%= link_to "Ask a new question", ask_path %></h4>
</div>
